/* Style général */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    color:#333;
    line-height:1.6;
}

/* En-tête */
header{
    background:#0077cc;
    color:white;
    padding:20px;
    text-align:center;
}

/* Menu */
nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

/* Contenu */
main{
    width:80%;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
    color:#0077cc;
    margin-bottom:15px;
}

h3{
    margin-top:20px;
    color:#444;
}

ul{
    margin-top:10px;
    margin-left:20px;
}

/* Boutons */
button{
    background:#0077cc;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#005fa3;
}

/* Formulaire */
input,
textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

/* Pied de page */
footer{
    background:#0077cc;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
